
body{
    background-color: #EAF6F6;
}
hr{
    border-color: gray;
    border-width: 6px;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 8%;
}

h1 {
  color: blue;
}

h3 {
    color: blue;
  }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
